/* Style the span  */
span {
    font-family: monospace;
    font-size: 18px;
  }

/* Apply spacing between components */
label {
  display: block;
  margin-top: 15px;  
  font-weight: bold; 
}

/* Style the button  */
button {
  margin-top: 20px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

/* Style the input-group  */
.input-group {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.input-group label {
  width: 220px; 
  margin-right: 10px;
}
