*{font-family: Arial, Verdana, sans-serif;
				color: #665544;
				text-align: center;}
			body {
			       background-image: url("images/image1.jpg");
				width: 90%;
				margin: 0 auto;}
			#content {
				overflow: auto;}
			#nav, #feature, #footer {
				margin: 1%;}
			.column1, .column2, .column3 {
				width: 31.3%;
				float: left;
				margin: 1%;}
			.column3 {
				margin-right: 0%;}
			li {
				display: inline;
				padding: 0.5em;}
			#nav, #footer {
				background-color: #efefef;
				padding: 0.5em 0;}
			#feature, .article {
				height: 10em;
				margin-bottom: 1em;
				background-color: #efefef;}
           #nav {
            background-color: #fc03f4;}
          #feature{
            background-color: #35fc03;
            background-image: url("images/image2.jpg");}
          .article.column1 {
            background-color: #fc5e03;}
          .article.column2 {
            background-color: #fcdb03;}
          .article.column3 {
            background-color: #b1fc03;}
            #footer{
            background-color: #fc03a1;}
          h1{ 
             font-family: 'Libre Caslon Display';}
